* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

html, body {
    height: auto;
    min-height: 100vh;
}

html {
    background: linear-gradient(180deg, #ea02ff 0%, #0097FF 100%);
}

input:focus {
    outline: none;
}

#register-container {
    display: flex;
    max-width: 900px;
    min-height: 80vh;
    margin: 2rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#register-banner {
    width: 50%;
    background: url('./img/bg-form.jpg');
    background-size: cover;
    background-position: center;
}

#banner-layer {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem;
    background-color: rgba(25, 11, 122, 0.7);
}

#register-banner h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #FFF;
    word-spacing: 50rem;
}

#register-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #FBFBFB;
}

#register-form h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.2rem;
}

#register-form p {
    /* margin-bottom: 1.5rem; */
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: .6rem;
    font-weight: bold;
}

.form-control input {
    padding: .6rem 0;
    border: none;
    border-bottom: 1px solid #AAA;
}

#ajuda {
    display: flex;
    flex-direction: column;
}

#generate-password {
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

#generate-password:hover {
    color: #0099FF;
}

#register-form #generated-password {
    display: none;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: .4rem;
    border: 1px solid #0099FF;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: #333;
}

#register-form #generated-password p {
    margin-bottom: .5rem;
    color: #81D340
}

#register-form input[type="submit"] {
    max-width: 150px;
    padding: 1rem 1.4rem;
    align-self: flex-end;
    text-transform: uppercase;
    color: #FFF;
    background-color: #81D340;
    opacity: .8;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: .4s;
}

#register-form input[type="submit"]:hover {
    opacity: 1;
}

#copy {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.fa-solid.fa-copy {
    margin-bottom: .2rem;
    align-self: flex-start;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s;
}

.fa-solid.fa-copy:hover {
    color: #0099FF;
}

p#copied {
    margin-bottom: 0 !important;
    padding: .2rem;
    background-color: #81D340;
    color: #FFF !important;
    font-weight: 400;
    border-radius: 2px;
    transition: .4s;
}

.hide {
    display: none;
    transition: .1s;
}

@media (max-width: 820px) {

    #register-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #register-banner, #register-form {
        width: 90%;
    }

}